<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.api.apajh.jeseb.fr/public/v1/" />
    <meta http-equiv="X-Content-Security-Policy"
        content="script-src 'self' https://www.api.apajh.jeseb.fr/public/v1/" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
    <title>Apajh Station</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav"></div>
            <div class="col-11 content text-center">
                <div class="row">
                    <div class="col-12 text-center mt-2">
                        <h3>Communication générale</h3>
                        <p>Vous pouvez générer un message qui s'affichera en haut de toutes les pages du site lorsque l'utilisateur "famille" est connecté.</p>
                        <p>Voir le message actuellement diffusé, ou le modifier / Supprimer :</p><br />
                        <i class="fas fa-eye fa-2x voir" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
                    </div>
                </div>


            </div>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Info générale actuellement diffusée :</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="actualInfo"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="fixedBottom">@APAJH Station v1.1.0 - 2021-2022 - Application développée par <a
                    href="https://www.izylify.fr">Sébastien LARRIVEE</a></p>
        </div>
    </div>
    <!-- You can also require other files to run in this process -->
    <script language="JavaScript" type="text/javascript" src="../js/jquery-3.6.6.js"></script>
    <script src="../fetch/infos.js"></script>
    <script src="../fetch/general.js"></script>
    <script src="../fetch/com.js"></script>
    <script src="../renderer.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/ckeditor5-build-classic/ckeditor.js"></script>
</body>

</html>