<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.api.apajh.jeseb.fr/public/v1/" />
    <meta http-equiv="X-Content-Security-Policy"
        content="script-src 'self' https://www.api.apajh.jeseb.fr/public/v1/" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
    <title>Apajh Station</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav"></div>
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 content text-center">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="row">
                            <a
                                class="offset-col-2 col-3 offset-sm-2 col-sm-3 offset-md-2 col-md-3 offset-lg-2 col-lg-3 offset-xl-2 col-xl-3 text-center menuTopContent ime" href="./lsfList.html">
                                    Vidéos existantes
                            </a>
                            <a
                                class="offset-col-2 col-3 offset-sm-2 col-sm-3 offset-md-2 col-md-3 offset-lg-2 col-lg-3 offset-xl-2 col-xl-3 text-center menuTopContent ime" href="./newLsf.html">
                                    Nouvelle vidéo
                            </a>
                        </div>
                    </div>
                </div>
               <!-- <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <div class="row">
                            <div class="col-12 text-center alerte">
                                <h2>Avant de créer un contenu, assurez vous qu'il n'existe pas déjà !</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center state">
                                <p>Les étapes de la création d'un contenu vidéo :</p>
                                    <p>1) Créer un contenu</p>
                                    <p>2) Selectionner une catégorie de vidéo</p>
                                    <p>3) Ajouter une vidéo et son détail au contenu</p>
                            </div>
                        </div>
                        <div class="voirCat">
                            <div class="row">
                                <div class="col-12 text-center mt-2">
                                    <p>Ci-dessous la liste des catégories existante</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="catItem col-12 text-center">
                                    <select class="getCat" name="Category">
                                        <option value="">--Catégories existantes--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center mt-2">
                                <button class="btn btn-secondary seeVoirCat">Voir les catégories existantes</button>
                            </div>
                        </div>
                        <div class="creatCat">
                            <div class="row">
                                <div class="col-12 text-center mt-2">
                                    <p>Si le contenu que vous voulez créer n'appartient à aucune de ses catégories, il faut créer la catégorie.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-2 col-8 text-center">
                                    <input class="form-control newCat" type="text" placeholder="Entrer ici le nom de la nouvelle catégorie" />
                                    <button class="btn btn-secondary addCat">Valider la catégorie</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center mt-2">
                                <button class="btn btn-secondary seeCreatCat">créer une catégorie</button>
                            </div>
                        </div>
                        <div class="creatContent">
                            <div class="row">
                                <div class="col-12 text-center mt-4">
                                    <h2>Créer un contenu (uniquement vidéo LdSf)</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-2 col-8 text-center">
                                    <input class="form-control newVideoContent" type="text" placeholder="Entrer ici le nom du contenu vidéo" />
                                    <input class="form-control newVideoContentType" type="hidden" value="2" />
                                    <button class="btn btn-secondary addVideoContent">Valider</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center mt-2">
                                <button class="btn btn-secondary seeCreatContent">Créer un contenu vidéo Ldsf</button>
                            </div>
                        </div>
                        <div class="creatVideoContent">
                            <div class="row">
                                <div class="col-12 text-center mt-4">
                                    <h2>Ajouter une vidéo au contenu venant d'être créé</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-2 col-8 text-center">
                                    <label for="">Le remplissage du mot est automatique, il sera le même que celui du contenu créé ! AJOUTEZ UNIQUEMENT (version 2),...</label>
                                    <input class="form-control videoTitle" type="text" />
                                    <label for="">Entrer ici le texte descriptif ex: Mot vache en langue des signes française</label>
                                    <input class="form-control videoText" type="text" />
                                    <label for="">Fichier vidéo</label>
                                    <input class="form-control file" type="file" />
                                    <input class="hiddenFile" type="hidden">
                                    <input class="form-control id_content" type="hidden" value="" />
                                    <label for="">Choisissez la catégorie de la vidéo</label>
                                    <div class="catItem col-12 text-center">
                                        <select class="getCategory" name="Category">
                                            <option value="">--Choix de la catégories--</option>
                                        </select>
                                        <input class="catId" type="hidden" value="" />
                                    </div>
                                    <button class="btn btn-secondary addVideoToVideoContent">Valider</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="itIsOk text-center"></div>
                                <div class="itIsNotOk text-center"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- You can also require other files to run in this process -->
    <script language="JavaScript" type="text/javascript" src="../js/jquery-3.6.6.js"></script>
    <script src="../fetch/infos.js"></script>
    <script src="../fetch/general.js"></script>
    <script src="../fetch/lsf.js"></script>
    <script src="../renderer.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>