<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
    <title>Apajh Station</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav"></div>
        </div>
    </div>
    <!-- You can also require other files to run in this process -->
    <script language="JavaScript" type="text/javascript" src="../js/jquery-3.6.6.js"></script>
    <script src="../fetch/infos.js"></script>
    <script src="../fetch/general.js"></script>
    <script src="../renderer.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../fetch/infos.js"></script>
</body>

</html>