<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.api.apajh-num-et-rik.fr/public/v1/" />
    <meta http-equiv="X-Content-Security-Policy"
        content="script-src 'self' https://www.api.apajh-num-et-rik.fr/public/v1/" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
    <title>Apajh Station</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav"></div>
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 content text-center">
                <div class="row">
                    <div class="col-12 mainTitle">
                        Création d'un article
                    </div>
                    <div class="offset-2 col-8 photoNumber">
                    </div>
                    <div class="offset-2 col-8 mt-2 galeryValidation">
                        <span>Voulez-vous ajouter une galerie de photo à la fin de votre article
                            ?</span>
                        <div class="galeryBtn"></div>
                    </div>
                </div>
                <div class="row firstStepArticle">
                    <div class="col-12">
                        <div class="row">
                            <div class="offset-2 col-8">
                                <span>Titre de votre article</span>
                                <input class="form-control newBlogContent mt-2" type="text"
                                    placeholder="Entrer ici le nom de votre article" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-2 col-8 mt-2">
                                <select class="newBlogContentType" id="contentType">
                                    <option value="1">IME</option>
                                    <option value="3">hors IME</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-2 col-8 mt-2">
                                <button class="btn btn-secondary addBlogContent">Valider</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-2 col-8">
                                <input id="articleId" type="hidden" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 validTitle fixed-bottom"></div>
                </div>
                <div class="row mainPhoto">
                    <div class="offset-2 col-8 mt-2">
                        <span>Ajouter un titre à votre photo principale (Obligatoire)</span><br />
                        <input class="form-control photoTitle mt-1" type="text"><br />
                        <span>Ajouter la photo principale de votre article</span><br />
                        <input class="form-control addMainPhoto mt-1" type="file">
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-8 firstArticle mt-2">
                        <span>Ajouter le contenu de votre paragraphe (Obligatoire)</span><br />
                        <span style="color:red;">ATTENTION ! Ce paragraphe est en quelque sorte l'introduction. Ne copier pas l'ensemble de votre article ici</span><br />
                        <textarea class="form-control firstArticleText" cols="80" rows="10"></textarea>
                        <button class="btn btn-secondary addFirstArticle mt-2">Valider</button>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-8 addAny mt-4">
                        <span>Vous voulez ajouter :</span><br />
                        <div class="row">
                            <div class="col-4">
                                <div class="addAnyItem addOnePara">Un paragraphe</div>
                            </div>
                            <div class="col-4">
                                <div class="addAnyItem addOneSemiPara">Un demi-paragraphe avec photo</div>
                            </div>
                            <div class="col-4">
                                <div class="addAnyItem addOnePhoto">Une photo pour la galerie</div>
                            </div>
                        </div>
                        <div>
                            <a href="./blog.html" class="btn btn-primary btn-sm mt-2" type="button">Terminer mon article</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-8 paragraf mt-2">
                        <span class="mt-2">Ajouter un titre à votre paragraphe (Facultatif)</span><br />
                        <input type="text" class="form-control paragraphTitle">
                        <span class="mt-2">Ajouter le contenu de votre paragraphe
                            (Obligatoire)</span><br />
                        <textarea class="form-control paragraphText" cols="80" rows="10"></textarea>
                        <button class="btn btn-secondary addParagraph mt-2">Valider</button>
                        <button class="btn btn-primary return mt-2">Annuler</button>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-8 mt-2 paragrafPhoto">
                        <div class="paragrafPhotoPara">
                            <span class="mt-2">Ajouter un titre à votre paragraphe (Facultatif)</span><br />
                            <input type="text" class="form-control semiParagraphTitle">
                            <span class="mt-2">Ajouter le contenu de votre paragraphe
                                (Obligatoire)</span><br />
                            <textarea class="form-control semiParagraphText" cols="80" rows="10"></textarea>
                            <button class="btn btn-secondary addParagrafPhotoPara mt-2">Valider</button>
                            <button class="btn btn-primary return mt-2">Annuler</button>
                        </div>
                        <input class="hiddenParaId" type="hidden">
                        <div class="paragrafPhotoPhoto">
                            <span>Ajouter un titre à la photo de votre paragraphe (Obligatoire)</span><br />
                            <input class="form-control paragrafPhotoTitle mt-1" type="text"><br />
                            <span>Ajouter la photo de votre paragraphe</span><br />
                            <input class="form-control addParagrafPhoto addPhotoToPara mt-1" type="file">
                            <button class="btn btn-primary return mt-2">Annuler</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-2 col-8 mt-2 photo">
                        <p class="galeryTitle">Ajouter les photos une à une.</p>
                        <span>Ajouter un titre à la photo de votre galerie (Obligatoire)</span><br />
                        <input class="form-control photoTitle mt-1" type="text"><br />
                        <span>Ajouter la photo de votre galerie</span><br />
                        <input class="form-control addGaleryPhoto mt-1" type="file">
                        <button class="btn btn-primary return mt-2">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Début modal-->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Mon article</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="articleModal"></div>
                        <div class="allPara"></div>
                        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="fixedBottom">@APAJH Station v1.1.0 - 2021-2022 - Application développée par <a href="https://www.izylify.fr">Sébastien LARRIVEE</a></p>
          </div>
    </div>
    <!-- You can also require other files to run in this process -->
    <script language="JavaScript" type="text/javascript" src="../js/jquery-3.6.6.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../fetch/infos.js"></script>
    <script src="../fetch/newArticleS.js"></script>
    <script src="../fetch/general.js"></script>
    <script src="../js/ckeditor5-build-classic/ckeditor.js"></script>

    <script src="../renderer.js"></script>

</body>

</html>