<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.api.apajh-num-et-rik.fr/public/v1/" />
    <meta http-equiv="X-Content-Security-Policy"
        content="script-src 'self' https://www.api.apajh-num-et-rik.fr/public/v1/" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
    <title>Apajh Station</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav"></div>
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 content text-center">
                <div class="row">
                    <div class="col-12 mainTitle">
                        Ajouter des devoirs
                    </div>
                </div>
                <div class="row firstStepArticle">
                    <div class="col-12">
                        <div class="row">
                            <div class="offset-2 col-8">
                                <span>Titre du devoir</span>
                                <input class="form-control newBlogContent mt-2" type="text"
                                    placeholder="Entrer ici le titre du devoir" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-2 col-8 mt-2">
                                <button class="btn btn-secondary addBlogContent">Valider</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-2 col-8">
                                <input id="articleId" type="hidden" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 validTitle fixed-bottom"></div>
                </div>
                <div class="row">
                    <div class="offset-2 col-8 firstArticle mt-2">
                        <span>Ajouter le titre secondaire de votre devoir (Obligatoire, peut être le même que le titre principal)</span><br />
                        <input class="devoirTitle col-6 mt-4 mb-4" type="text" placeholder="Ajouter un titre secondaire à votre devoir"><br />
                        <span class="missTitle"></span><br />
                        <span>A faire pour le :</span><br />
                        <input class="dateFor mb-4" type="date" /><br />
                        <span class="missDate"></span><br />
                        <span>Ajouter le contenu de votre devoir (Obligatoire)</span><br />
                        <textarea class="form-control firstArticleText" cols="80" rows="10"></textarea>
                        <span class="missText"></span><br />
                        <button class="btn btn-secondary addFirstArticle mt-2">Valider</button>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="text-center">
            <p class="fixedBottom">@APAJH Station v1.1.0 - 2021-2022 - Application développée par <a href="https://www.izylify.fr">Sébastien LARRIVEE</a></p>
          </div>
    </div>
    <!-- You can also require other files to run in this process -->
    <script language="JavaScript" type="text/javascript" src="../js/jquery-3.6.6.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../fetch/infos.js"></script>
    <script src="../fetch/newDevoirs.js"></script>
    <script src="../fetch/general.js"></script>
    <script src="../js/ckeditor5-build-classic/ckeditor.js"></script>

    <script src="../renderer.js"></script>

</body>

</html>