<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.api.apajh-num-et-rik.fr/public/v1/" />
    <meta http-equiv="X-Content-Security-Policy"
        content="script-src 'self' https://www.api.apajh-num-et-rik.fr/public/v1/" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
    <title>Apajh Station</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="nav"></div>
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 content text-center">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                        <div class="row">
                            <div class="col-12 text-center alerte">
                                <h2>Avant de créer un contenu, assurez vous qu'il n'existe pas déjà !</h2>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 text-center state">
                                <p>Les étapes de la création d'un contenu vidéo :</p>
                                <p>1) Créer une vidéo LPC</p>
                                <p>2) Ajouter une vidéo</p>
                            </div>
                        </div>
                        <div class="creatContent">
                            <div class="row">
                                <div class="col-12 text-center mt-4 mb-4">
                                    <h2>Créer une vidéo LPC</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-2 col-8 text-center">
                                    <input class="form-control newVideoContent" type="text"
                                        placeholder="Entrer ici le titre de la vidéo" />
                                    <input class="form-control newVideoContentType mt-4" type="hidden" value="5" />
                                    <button class="btn btn-secondary addVideoContent mt-4" data-bs-toggle="modal"
                                        data-bs-target="#newVideoModal">Valider</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center mt-2">
                                <button class="btn btn-secondary seeCreatContent">Créer une vidéo LPC</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="itIsOk text-center"></div>
                                <div class="itIsNotOk text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de création vidéo -->
        <div class="modal fade" id="newVideoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Vidéo LSF</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="creatVideoContent">
                            <div class="row">
                                <div class="col-12 text-center mt-4">
                                    <h2>Ajouter une vidéo</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <label class="videoAttention mb-2" for="">Le remplissage du mot est automatique, il sera
                                        le même que celui du contenu créé ! AJOUTEZ UNIQUEMENT (version 2),...</label>
                                    <div class="row">
                                        <div class="offset-3 col-6">
                                            <input class="form-control videoTitle mb-4" type="text" />
                                        </div>
                                    </div>
                                    <div class="videoTitle mb-4"></div>
                                    <label for="">Fichier vidéo (Il faut qu'il soit le plus petit possible)</label>
                                    <div class="row">
                                        <div class="offset-3 col-6">
                                            <input class="form-control file mt-2 mb-4" type="file" />
                                        </div>
                                    </div>
                                    <input class="hiddenFile" type="hidden">
                                    <input class="form-control id_content" type="hidden" value="" />
                                    <button class="btn btn-secondary addVideoToVideoContent mt-4">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p class="fixedBottom">@APAJH Station v1.1.0 - 2021-2022 - Application développée par <a href="https://www.izylify.fr">Sébastien LARRIVEE</a></p>
          </div>
    </div>
    <!-- You can also require other files to run in this process -->
    <script language="JavaScript" type="text/javascript" src="../js/jquery-3.6.6.js"></script>
    <script src="../fetch/infos.js"></script>
    <script src="../fetch/general.js"></script>
    <script src="../fetch/lpc.js"></script>
    <script src="../renderer.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>